<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.manage_course.dao.CourseBaseDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuecheng.manage_course.model.CourseBaseModel">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="users" property="users" />
        <result column="mt" property="mt" />
        <result column="grade" property="grade" />
        <result column="studymodel" property="studymodel" />
        <result column="teachmode" property="teachmode" />
        <result column="description" property="description" />
        <result column="st" property="st" />
        <result column="status" property="status" />
        <result column="company_id" property="companyId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, users, mt, grade, studymodel, teachmode, description, st, status, company_id, user_id
    </sql>

</mapper>
