<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.manage_course.dao.CoursePreDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuecheng.framework.domain.course.CoursePreModel">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="users" property="users" />
        <result column="mt" property="mt" />
        <result column="st" property="st" />
        <result column="grade" property="grade" />
        <result column="studymodel" property="studymodel" />
        <result column="description" property="description" />
        <result column="status" property="status" />
        <result column="timestamp" property="timestamp" />
        <result column="charge" property="charge" />
        <result column="valid" property="valid" />
        <result column="qq" property="qq" />
        <result column="price" property="price" />
        <result column="price_old" property="priceOld" />
        <result column="expires" property="expires" />
        <result column="pic" property="pic" />
        <result column="teachplan" property="teachplan" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, users, mt, st, grade, studymodel, description, status, timestamp, charge, valid, qq, price, price_old, expires, pic, teachplan
    </sql>

</mapper>
